.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}


.contactbox{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background-image: url("../public/images/registrarITESM.jpeg");
    background-repeat:no-repeat;
    background-size:contain;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
	background-color: rgb(228, 228, 228);
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgb(255, 255, 255);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
	margin: 10px 0px;
	color: rgb(101, 101, 101);
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}


.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #322ac7;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
	border-radius: 4px;
	margin-bottom: 20px;
}

.btn:hover{
    background-color: #7e89ff;
}

.btnRegistrar {
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #322ac7;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
	border-radius: 4px;
	margin-top: 20px;
}

.select {
	margin: 10px 0px;
}

.selectMateriales {
	margin: 10px 0px;
	margin-bottom: 25px;
}


.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}